.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4) auto;
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.row-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  gap: ($base-size / 2);
}

h3 {
  font-family: $font-header;
  font-weight: $font-semibold;
  font-size: 25px;
}

.box {
  width: 300px;
  height: 120px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: $radius;
  position: relative;
}

.box a {
  margin: auto;
  justify-content: center;

  text-decoration: none;
  color: $color-light;
}

.box img {
  width: 300px;
  height: 120px;
  object-fit: cover;
  border-radius: $radius;
}

.box p {
  opacity: 0;
  margin-bottom: 0;
}

.box h3 {
  margin: 36px 0 0 0;
}

.box:hover h3 {
  transform: translateY(-20%);
  transition: $transition;
  margin: 0 0 10px 0;
}

.box:hover p {
  transform: translateY(-20%);
  transition: $transition;
  opacity: 100%;
  margin: 0;
}

.order-book {
  position: absolute;
  display: inline-block;
  color: $color-light;
}

.bottom-box {
  margin: ($base-size) ;
  justify-content: center;
  width: 606px;
  height: 120px;
  border-radius: $radius;
  background-color: $color-main;
  color: $color-light;
  text-align: center;
  flex: 100%;
  padding: ($base-size * 2) ;
  object-fit: cover;
}

.bottom-box h3 {
  margin: auto;
}

.open-time {
  margin: 0;
  font-weight: $font-semibold;
}

/* Carousel */

.main-carousel {
  padding: 20px 0;
}

.carousel-cell {
  width: 100%;
  height: 250px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}

.carousel-box__image {
  flex: 30%;
  border-radius: $radius;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $radius;
    padding: $base-size;
  }
}

.carousel-box__info {
    flex: 60%;
}

/* gallery */

.image-gallery{
  margin-top: 60px;
  width: 604px;
  height: 398px;
}

.gallery-row {
  margin: 0 0 5px 0;
  width: 604px;
  height: 198px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image-box {
  margin: 0;
  padding: 0;
  position: relative;
  width: 190px;
  height: 190px;
}

.image-box img {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.icon-wrapper {
  position: absolute;
  right: 30%;
  top: 50%;
  height: 25px;
  width: 80px;
  text-align: center;
  z-index: 1;
}

.icon-wrapper i {
  margin: 5px;
  font-size: 20px;
  color: $color-light;
  visibility: hidden;
}

.image-box:hover .icon-wrapper i{
  visibility: visible;
}

.icon-wrapper > a:hover i {
  color: $color-danger;
  transform: scale(1.25);
}

.image-box::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0;
  background-color: black;
  z-index: 0;
  top: 0;
}

.image-box:hover::after {
  display: block;
  opacity: 0.6;
}

.instagram {
  color: $color-danger;
}